.card-container {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .card {
    flex: 0 0 200px;
    background-color: gray;
    height: 300px;
    border: $base-border-thickness solid $primary;
    box-shadow: $base-box-shadow;
    border-radius: $base-border-radius;
    padding: $base-padding;
  }

  .active {
    background-color: $primary;
  }
}
